body {
    font-family: Arial, sans-serif;
    text-align: center;
}
h1 {
    color: lightseagreen;
}
.prime-list {
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.prime-list div {
    margin: 5px;
    padding: 10px;
    background-color: #f0f0f0;
    border: 1px solid lightblue;
    border-radius: 5px;
    width: 50px;
    text-align: center;
}